$main-white: rgb(237, 244, 250);
$main-red: rgb(228, 72, 72);
$snow-white: rgba(233, 233, 233, 0.76);
$dark-grey: rgb(150, 150, 150);
$btn-white: rgb(255, 255, 255);
$btn-blue: rgb(58, 182, 199);

//Gradients
$piggy-pink:linear-gradient(to bottom, #ee9ca7, #ffdde1);
$jshine: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
$megatron: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
$cool-sky: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
$evening-sunshine:linear-gradient(to left, #b92b27, #1565c0);
$memariani: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
$magic: linear-gradient(to top, #59c173, #a17fe0, #5d26c1);
$vanusa:linear-gradient(to top, #da4453, #89216b);
//