.starBox {
    width: 10%;
    height: 80%;

    &:hover {
        cursor: pointer;
    }
}

.yellowStar {
    transform: translateY(-25px) !important;

    .ray {
        visibility: hidden;
        animation: tick 0.5s ease-in;
        transition: 0.1s ease-in;
    }
}

@keyframes tick {
    0% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.blackStar {
    color: rgba(0, 0, 0, 0.185);
    transform: translate(2px, -25px);
}